/* flowerShoot reset sheet */

/* ============================================= */
/* Author: LUIGI PISANO */
/* Due date: August 12, 2020 (9 am) */
/* ============================================= */

* {font-family: "arial", sans-serif};

body {
	text-decoration: none;	
}

div#divService > * {
	background-color: rgba(2, 2, 2, 0);
	margin: 0;
}

div#gallery > img {
	padding: 0;
}

li {
	list-style-type: none;
	text-decoration-style: none;
	text-align: default;
}